.footerContainer {
  composes: container from "global.css";
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  row-gap: var(--space-sm);
}

.menu {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.menu svg {
  width: 1.5em;
}

@media (min-width: 768px) {
  .footerContainer {
    grid-template-columns: auto auto;
    justify-content: space-between;
    row-gap: var(--space-xs);
  }

  .menu {
    justify-content: initial;
  }
}

.copyright {
  grid-column: 1 / -1;
  padding: 2em 0;
  font-size: 0.75em;
  text-align: center;
}
