.postsContainer {
  display: grid;
  grid-template-columns: auto;
  grid-gap: var(--space-md);
  gap: var(--space-md);
  margin-top: var(--space-md);
}

.postHeader {
  padding: 0 0 calc(var(--space-xs) / 2);
}

.postsContainer h2 {
  color: var(--primary-warning);
  line-height: 1.375;
}

.meta {
  display: flex;
  gap: 0 0.5em;
  margin-bottom: 0.5em;
}

.date {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--secondary-font-color);
  font-size: smaller;
}
